---
interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalUrl: string;
  type?: "website" | "article" | "profile";
}

const {
  title,
  description,
  image = "https://svenvollbrecht.de/favicon.svg",
  canonicalUrl,
  type = "website",
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:site_name" content="Sven Vollbrecht" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
